#!/usr/bin/env bash

set -o nounset
set -o errexit
trap 'echo "Aborting due to errexit on line $LINENO. Exit code: $?" >&2' ERR
set -o errtrace
set -o pipefail
IFS=$'\n\t'

function has() {
  type "$1" >/dev/null 2>&1
}

echo "🍺 Installing Homebrew and packages..."

{{- if eq .chezmoi.os "linux" }}
# Install Homebrew for Linux
export NONINTERACTIVE=1
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

# Create temporary Brewfile_linux
cat > /tmp/Brewfile_linux << 'EOF'
tap "bufbuild/buf"
tap "derailed/k9s"
tap "mscharley/homebrew"
tap "norwoodj/tap"
tap "songmu/tap"
brew "ast-grep"
brew "bash-snippets"
brew "bottom"
brew "buf"
brew "cairo"
brew "cmake"
brew "curl"
brew "direnv"
brew "editorconfig"
brew "fd"
brew "figlet"
brew "findutils"
brew "fish"
brew "harfbuzz"
brew "pango"
brew "fontforge"
brew "fzf"
brew "gh"
brew "ghq"
brew "gibo"
brew "git"
brew "git-delta"
brew "glab"
brew "golangci-lint"
brew "goreleaser"
brew "graphviz"
brew "helm"
brew "helmfile"
brew "htop"
brew "httpie"
brew "imagemagick"
brew "iperf"
brew "iperf3"
brew "jq"
brew "kind"
brew "kubernetes-cli"
brew "lazydocker"
brew "lazygit"
brew "licensed"
brew "mkcert"
brew "navi"
brew "nkf"
brew "pandoc"
brew "pgformatter"
brew "plantuml"
brew "poppler"
brew "protobuf"
brew "pure"
brew "ranger"
brew "rbenv"
brew "ripgrep"
brew "sevenzip"
brew "the_silver_searcher"
brew "tig"
brew "tmux-mem-cpu-load"
brew "topgrade"
brew "translate-shell"
brew "tree"
brew "trivy"
brew "typos-cli"
brew "watch"
brew "wget"
brew "yarn"
brew "yazi"
brew "yj"
brew "zoxide"
brew "derailed/k9s/k9s"
brew "norwoodj/tap/helm-docs"
brew "songmu/tap/gocredits"
EOF

# Install packages from temporary Brewfile
if command -v brew >/dev/null 2>&1; then
  brew bundle --file=/tmp/Brewfile_linux
else
  /home/linuxbrew/.linuxbrew/bin/brew bundle --file=/tmp/Brewfile_linux
fi

# Cleanup
rm -f /tmp/Brewfile_linux

{{- else if eq .chezmoi.os "darwin" }}
# Install Homebrew for macOS
if ! has brew; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# Create temporary Brewfile
cat > /tmp/Brewfile << 'EOF'
tap "bazelbuild/tap"
tap "golangci/tap"
tap "gromgit/fuse"
tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "mscharley/homebrew"
tap "nats-io/nats-tools"
tap "sachaos/todoist"
tap "songmu/tap"
tap "teamookla/speedtest"
tap "universal-ctags/universal-ctags"
tap "z80oolong/tmux"
tap "zaquestion/tap"
brew "autojump"
brew "awk", link: false
brew "bash-snippets"
brew "bazaar"
brew "glib"
brew "cairo"
brew "harfbuzz"
brew "openjdk@11"
brew "bazel"
brew "libidn2"
brew "unbound"
brew "gnutls"
brew "emacs"
brew "cask"
brew "certbot"
brew "cmake"
brew "direnv"
brew "docutils"
brew "editorconfig"
brew "fasd"
brew "libass"
brew "libbluray"
brew "pango"
brew "tesseract"
brew "ffmpeg"
brew "figlet"
brew "findutils"
brew "fish"
brew "fontforge"
brew "fzf"
brew "fzy"
brew "gawk"
brew "gdk-pixbuf"
brew "ghq"
brew "gibo"
brew "git"
brew "git-delta"
brew "glow"
brew "go"
brew "gobject-introspection"
brew "gops"
brew "goreleaser"
brew "gpac"
brew "netpbm"
brew "gts"
brew "librsvg"
brew "graphviz"
brew "hadolint"
brew "htop"
brew "http-server"
brew "httpie"
brew "iperf"
brew "iperf3"
brew "jq"
brew "krew"
brew "lazydocker"
brew "mise"
brew "mkcert"
brew "neovim"
brew "nkf"
brew "nodebrew"
brew "nvm"
brew "openjdk"
brew "openssh"
brew "pandoc"
brew "plantuml"
brew "portaudio"
brew "postgresql@14"
brew "protobuf"
brew "rbenv"
brew "reattach-to-user-namespace"
brew "rename"
brew "ripgrep"
brew "slackcat"
brew "stylua"
brew "the_silver_searcher"
brew "tig"
brew "tmux"
brew "tmux-mem-cpu-load"
brew "translate-shell"
brew "tree"
brew "universal-ctags", args: ["HEAD"]
brew "urlview"
brew "watch"
brew "wget"
brew "yarn"
brew "zsh"
brew "zsh-completions"
brew "zsh-syntax-highlighting"
brew "golangci/tap/golangci-lint"
brew "gromgit/fuse/sshfs-mac"
brew "nats-io/nats-tools/nats"
brew "sachaos/todoist/todoist"
brew "songmu/tap/gocredits"
brew "teamookla/speedtest/speedtest"
brew "zaquestion/tap/lab"
brew "fastfetch"
cask "1password"
cask "1password-cli"
cask "alacritty"
cask "font-hackgen"
cask "font-hackgen-nerd"
cask "font-inconsolata"
cask "font-monaspace"
cask "font-plemol-jp"
cask "font-plemol-jp-hs"
cask "font-plemol-jp-nf"
cask "fontforge"
cask "wezterm"
cask "xquartz"
brew "lazygit"
brew "yazi"
EOF

# Install packages from temporary Brewfile
brew bundle --file=/tmp/Brewfile

# Cleanup
rm -f /tmp/Brewfile
{{- end }}

echo "✅ Homebrew and packages installed successfully!"
