[color]
	ui = auto

[grep]
	lineNumber = true

[diff]
	renames = true

[ghq]
	root = ~/.ghq
	root = ~/go/src

[core]
	editor = nvim
	hooksPath = .config/git/hooks
[push]
	default = current
[pull]
	rebase = false
[user]
	useConfigOnly = true
