[color]
	ui = auto

[grep]
	lineNumber = true

[diff]
	renames = true

[ghq]
	root = ~/go/src
	root = ~/.ghq

[core]
	editor = nvim
	hooksPath = ~/.config/git/hooks
[push]
	default = current
[pull]
	rebase = false
[user]
	useConfigOnly = true
[init]
	defaultBranch = main
