[color]
	ui = auto

[grep]
	lineNumber = true

[diff]
	renames = true

[ghq]
	root = ~/go/src
	root = ~/.ghq

[user]
	email = miyauchi0623@gmail.com
	name = miya-masa
[core]
	editor = nvim
[push]
	default = current
