<?xml version="1.0"?>
<packages>
    <package id="google-chrome-x64" />
    <package id="Firefox" />
    <package id="curl" />
    <package id="jdk8" />
    <package id="eclipse" />
    <package id="msysgit" />
    <package id="dropbox" />
    <package id="sourcetree" />
    <package id="mingw" />
    <package id="mingw-get" />
    <package id="nodejs" />
    <package id="winmerge" />
    <package id="maven" />
    <package id="gradle" />
    <package id="vim" />
    <package id="mobaxterm" />
    <package id="clover" />
</packages>
