snippet plantuml "plantuml-markdown"
\`\`\`plantuml
@startuml
${0:${VISUAL}}
@enduml
\`\`\`
endsnippet


snippet tab "table"
| ${0:${VISUAL}} | a | b |
|---------|---|---|
| f1      | Y | N |
| f2      | Y | N |
endsnippet
